<a href="https://colab.research.google.com/github/leoquiroa/DeepLearning/blob/master/ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense

import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, average_precision_score, plot_precision_recall_curve

%tensorflow_version 1.x

In [27]:
import tensorflow
print(tensorflow.__version__)

1.15.0

Data preprocessing

In [2]:
url = "https://raw.githubusercontent.com/leoquiroa/DeepLearning/master/Data/Churn_Modelling.csv"
dataset = pd.read_csv(
    url, 
    names = ["RowNumber","CustomerId","Surname","CreditScore","Geography","Gender","Age","Tenure","Balance","NumOfProducts","HasCrCard","IsActiveMember","EstimatedSalary","Exited"], 
    skiprows=1)
print(dataset.shape)
dataset.head()

(10000, 14)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
X = dataset.iloc[:, 3:13].values # CreditScore, Geography, Gender, Age, Tenure, Balance, NumOfProducts,	HasCrCard, IsActiveMember, EstimatedSalary
y = dataset.iloc[:, 13].values #Exited
print(X.shape)
print(y.shape)

(10000, 10)
(10000,)

In [4]:
X[1:10,:]

array([[608, 'Spain', 'Female', 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [502, 'France', 'Female', 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [699, 'France', 'Female', 39, 1, 0.0, 2, 0, 0, 93826.63],
       [850, 'Spain', 'Female', 43, 2, 125510.82, 1, 1, 1, 79084.1],
       [645, 'Spain', 'Male', 44, 8, 113755.78, 2, 1, 0, 149756.71],
       [822, 'France', 'Male', 50, 7, 0.0, 2, 1, 1, 10062.8],
       [376, 'Germany', 'Female', 29, 4, 115046.74, 4, 1, 0, 119346.88],
       [501, 'France', 'Male', 44, 4, 142051.07, 2, 0, 1, 74940.5],
       [684, 'France', 'Male', 27, 2, 134603.88, 1, 1, 1, 71725.73]],
      dtype=object)

Two categorical variables: Geography and Gender. Apply Label-Encoder.

In [5]:
dataset['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [6]:
dataset['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [0]:
# Encoding categorical data (Geography and Gender)
labelencoder_1 = LabelEncoder()
X[:, 1] = labelencoder_1.fit_transform(X[:, 1])
labelencoder_2 = LabelEncoder()
X[:, 2] = labelencoder_2.fit_transform(X[:, 2])

In [8]:
X[1:10,:]

array([[608, 2, 0, 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [502, 0, 0, 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [699, 0, 0, 39, 1, 0.0, 2, 0, 0, 93826.63],
       [850, 2, 0, 43, 2, 125510.82, 1, 1, 1, 79084.1],
       [645, 2, 1, 44, 8, 113755.78, 2, 1, 0, 149756.71],
       [822, 0, 1, 50, 7, 0.0, 2, 1, 1, 10062.8],
       [376, 1, 0, 29, 4, 115046.74, 4, 1, 0, 119346.88],
       [501, 0, 1, 44, 4, 142051.07, 2, 0, 1, 74940.5],
       [684, 0, 1, 27, 2, 134603.88, 1, 1, 1, 71725.73]], dtype=object)

Create dummy variables for the Geography (since it has > 2 categories) with One-Hot-Encoder

In [0]:
A = make_column_transformer(
    (OneHotEncoder(categories='auto'), [1]), 
    remainder="passthrough")
X=A.fit_transform(X)

In [10]:
X[1:10,:]

array([[0.0, 0.0, 1.0, 608, 0, 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [1.0, 0.0, 0.0, 502, 0, 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [1.0, 0.0, 0.0, 699, 0, 39, 1, 0.0, 2, 0, 0, 93826.63],
       [0.0, 0.0, 1.0, 850, 0, 43, 2, 125510.82, 1, 1, 1, 79084.1],
       [0.0, 0.0, 1.0, 645, 1, 44, 8, 113755.78, 2, 1, 0, 149756.71],
       [1.0, 0.0, 0.0, 822, 1, 50, 7, 0.0, 2, 1, 1, 10062.8],
       [0.0, 1.0, 0.0, 376, 0, 29, 4, 115046.74, 4, 1, 0, 119346.88],
       [1.0, 0.0, 0.0, 501, 1, 44, 4, 142051.07, 2, 0, 1, 74940.5],
       [1.0, 0.0, 0.0, 684, 1, 27, 2, 134603.88, 1, 1, 1, 71725.73]],
      dtype=object)

Geography
* France (0)
* Germany (1)
* Spain (2)
* Remove France

Gender
* Male (1)
* Female (0)

Avoid the Dummy variable trap by removing the first column. Now, it has only two columns for the country.

In [0]:
X = X[:, 1:]

In [12]:
X[1:10,:]

array([[0.0, 1.0, 608, 0, 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [0.0, 0.0, 502, 0, 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [0.0, 0.0, 699, 0, 39, 1, 0.0, 2, 0, 0, 93826.63],
       [0.0, 1.0, 850, 0, 43, 2, 125510.82, 1, 1, 1, 79084.1],
       [0.0, 1.0, 645, 1, 44, 8, 113755.78, 2, 1, 0, 149756.71],
       [0.0, 0.0, 822, 1, 50, 7, 0.0, 2, 1, 1, 10062.8],
       [1.0, 0.0, 376, 0, 29, 4, 115046.74, 4, 1, 0, 119346.88],
       [0.0, 0.0, 501, 1, 44, 4, 142051.07, 2, 0, 1, 74940.5],
       [0.0, 0.0, 684, 1, 27, 2, 134603.88, 1, 1, 1, 71725.73]],
      dtype=object)

Splitting the dataset into the Training set and Test set

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
print(X_train.shape)
print(X_test.shape)

(8000, 11)
(2000, 11)

Feature Scaling. We don't one independent variable dominating another one.

In [0]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [15]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(10000, 11)
(8000, 11)
(2000, 11)

In [16]:
print(min(X[:,2]))
print(max(X[:,2]))
print(min(X_train[:,2]))
print(max(X_train[:,2]))
print(min(X_test[:,2]))
print(max(X_test[:,2]))

350
850
-3.0983464242408694
2.0561144379132976
-2.943712598376244
2.0561144379132976

Initialize the DL model
1. Defining the sequence of layers (*)
2. Defining a graph

Activation Functions
* Relu for hidden layers
* Sigmoid as output (probabilities)
* Softmax for more than two categories

**Back-Propagation:**
Update the weights according to how much they are responsible for the error

**The Learning Rate:**
Decides how much we update the weights

Update the weights after observations
* one (Reinforcement Learning)
* batch (Batch Learning)

**Number of nodes**
* Art: average of input+output
* Not Art: Grid search for parameter tunning 

**Optimizer**, the algorithm to find the optimal set of weights in the NN. Stochastic Gradient Descent. (i.e. Adam)

**Loss**
* categorical_crossentropy > 2 categories has outcome
* binary_crossentropy = binary outcome

**Batch size**
The number of observations after which you want to update the weight

In [17]:
classifier = Sequential()
# input layer and first hidden layer
classifier.add(
    Dense(
        kernel_initializer='uniform'
        ,input_dim=11
        ,activation='relu'
        ,units=6
        )
    )
# second hidden layer
classifier.add(
    Dense(
        kernel_initializer='uniform'
        ,units=6
        ,activation='relu'
        )
    )
# output layer
classifier.add(
    Dense(
        kernel_initializer='uniform'
        ,units=1
        ,activation='sigmoid'
        )
    )
#compile
classifier.compile(
    optimizer='adam'
    ,loss='binary_crossentropy'
    ,metrics = ['accuracy']
    )

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [18]:
classifier.fit(x=X_train,y=y_train,batch_size=10,epochs=100)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Epoch 1/100
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

8000/8000 [==============================] - 1s 187us/step - loss: 0.4839 - acc: 0.7954
Epoch 2/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4268 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4220 - acc: 0.7990
Epoch 4/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.4184 - acc: 0.8210
Epoch 5/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4162 - acc: 0.8262
Epoch 6/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4144 - acc: 0.8287
Epoch 7/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4131 - acc: 0.8315
Epoch 8/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4122 - acc: 0.8324
Epoch 9/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4104 - acc: 0.8320
Epoch 10/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4101 - acc: 0.8331
Epoch 11/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4086 - acc: 0.8362
Epoch 12/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4079 - acc: 0.8346
Epoch 13/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.4074 - acc: 0.8346
Epoch 14/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.4065 - acc: 0.8352
Epoch 15/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.4064 - acc: 0.8341
Epoch 16/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.4057 - acc: 0.8345
Epoch 17/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4054 - acc: 0.8349
Epoch 18/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4052 - acc: 0.8344
Epoch 19/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4049 - acc: 0.8354
Epoch 20/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4043 - acc: 0.8351
Epoch 21/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4040 - acc: 0.8356
Epoch 22/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4037 - acc: 0.8351
Epoch 23/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4036 - acc: 0.8351
Epoch 24/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4037 - acc: 0.8345
Epoch 25/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4033 - acc: 0.8354
Epoch 26/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4025 - acc: 0.8341
Epoch 27/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4025 - acc: 0.8342
Epoch 28/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4022 - acc: 0.8349
Epoch 29/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4027 - acc: 0.8341
Epoch 30/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4023 - acc: 0.8356
Epoch 31/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4018 - acc: 0.8365
Epoch 32/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4019 - acc: 0.8370
Epoch 33/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4023 - acc: 0.8344
Epoch 34/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4017 - acc: 0.8345
Epoch 35/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4015 - acc: 0.8340
Epoch 36/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4017 - acc: 0.8345
Epoch 37/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4011 - acc: 0.8356
Epoch 38/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4009 - acc: 0.8365
Epoch 39/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4008 - acc: 0.8356
Epoch 40/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4005 - acc: 0.8347
Epoch 41/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4005 - acc: 0.8361
Epoch 42/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4004 - acc: 0.8356
Epoch 43/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.4001 - acc: 0.8350
Epoch 44/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.3990 - acc: 0.8357
Epoch 45/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3993 - acc: 0.8359
Epoch 46/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.3990 - acc: 0.8341
Epoch 47/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3987 - acc: 0.8365
Epoch 48/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3980 - acc: 0.8350
Epoch 49/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.3986 - acc: 0.8366
Epoch 50/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3979 - acc: 0.8370
Epoch 51/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.3978 - acc: 0.8380
Epoch 52/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.3974 - acc: 0.8372
Epoch 53/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.3968 - acc: 0.8359
Epoch 54/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.3975 - acc: 0.8341
Epoch 55/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3974 - acc: 0.8342
Epoch 56/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3965 - acc: 0.8360
Epoch 57/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3967 - acc: 0.8362
Epoch 58/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.3971 - acc: 0.8366
Epoch 59/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3965 - acc: 0.8371
Epoch 60/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.3966 - acc: 0.8354
Epoch 61/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.3963 - acc: 0.8379
Epoch 62/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.3967 - acc: 0.8366
Epoch 63/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3965 - acc: 0.8377
Epoch 64/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3962 - acc: 0.8367
Epoch 65/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3964 - acc: 0.8362
Epoch 66/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.3966 - acc: 0.8385
Epoch 67/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.3968 - acc: 0.8371
Epoch 68/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3965 - acc: 0.8370
Epoch 69/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.3965 - acc: 0.8380
Epoch 70/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.3964 - acc: 0.8370
Epoch 71/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3956 - acc: 0.8365
Epoch 72/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3961 - acc: 0.8370
Epoch 73/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.3965 - acc: 0.8367
Epoch 74/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.3959 - acc: 0.8376
Epoch 75/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.3961 - acc: 0.8376
Epoch 76/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.3963 - acc: 0.8369
Epoch 77/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.3957 - acc: 0.8370
Epoch 78/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3953 - acc: 0.8366
Epoch 79/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3957 - acc: 0.8375
Epoch 80/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.3955 - acc: 0.8359
Epoch 81/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.3957 - acc: 0.8366
Epoch 82/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.3957 - acc: 0.8369
Epoch 83/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.3954 - acc: 0.8369
Epoch 84/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.3951 - acc: 0.8375
Epoch 85/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3953 - acc: 0.8370
Epoch 86/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3955 - acc: 0.8369
Epoch 87/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.3955 - acc: 0.8391
Epoch 88/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.3955 - acc: 0.8350
Epoch 89/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3956 - acc: 0.8366
Epoch 90/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3954 - acc: 0.8387
Epoch 91/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3948 - acc: 0.8376
Epoch 92/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3952 - acc: 0.8369
Epoch 93/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3951 - acc: 0.8379
Epoch 94/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.3952 - acc: 0.8374
Epoch 95/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3950 - acc: 0.8392
Epoch 96/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3947 - acc: 0.8374
Epoch 97/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3951 - acc: 0.8372
Epoch 98/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3946 - acc: 0.8367
Epoch 99/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3947 - acc: 0.8379
Epoch 100/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.3946 - acc: 0.8380

In [19]:
y_pred = classifier.predict(X_test)
print(y_pred.shape)
y_pred[1:10,:]

(2000, 1)

array([[0.3122647 ],
       [0.16596654],
       [0.04954922],
       [0.16718063],
       [0.87469333],
       [0.12094805],
       [0.06944406],
       [0.16374594],
       [0.87506545]], dtype=float32)

* The percentage indicates the probability that certain customer is most likely to leave the bank.
* Segment the 10% of their customers with the highest probabilities and then analyze them in more depth with data-mining techniques.

In [0]:
threshold = 0.5
y_pred = (y_pred>threshold)

In [21]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[1548,   47],
       [ 253,  152]])

In [22]:
print('accuracy_score: ',accuracy_score(y_test, y_pred))
print('precision_score: ',precision_score(y_test, y_pred))
print('recall_score: ',recall_score(y_test, y_pred))
print('f1_score: ',f1_score(y_test, y_pred))

accuracy_score:  0.85
precision_score:  0.7638190954773869
recall_score:  0.37530864197530867
f1_score:  0.5033112582781457

In [23]:
average_precision = average_precision_score(y_test, y_pred)
print('Average precision-recall score: {0:0.2f}'.format(
      average_precision))

Average precision-recall score: 0.41

Predict if the customer with the following informations will leave the bank: 
* Geography: France
* Credit Score: 600
* Gender: Male
* Age: 40 years old
* Tenure: 3 years
* Balance: 60,000
* Number of Products: 2
* Does this customer have a credit card ? Yes
* Is this customer an Active Member: Yes
* Estimated Salary: $50000

In [0]:
new_prediction = classifier.predict(
    sc.transform(
        np.array(
            [[
              0.0    # Geography: Germany
              ,0     # Geography: Spain
              ,600   # Credit Score
              ,1     # Gender: Male
              ,40    # Age 
              ,3     # Tenure
              ,60000 # Balance
              ,2     # number of products
              ,1     # has credit card
              ,1     # active member
              ,50000 # estimated salary
            ]]
          )
        )
    )

In [42]:
dataset.iloc[1, 3:13]

CreditScore            608
Geography            Spain
Gender              Female
Age                     41
Tenure                   1
Balance            83807.9
NumOfProducts            1
HasCrCard                0
IsActiveMember           1
EstimatedSalary     112543
Name: 1, dtype: object

In [47]:
new_prediction

array([[0.13707006]], dtype=float32)

In [43]:
# Trye (leaves the bank)
# False (doesn't leave the bank, the person stays)
new_prediction = (new_prediction > 0.5) 
new_prediction

array([[False]])